body, html {
    margin: auto;
    max-width: 100vw;
}

/*FONT STYLES*/

h1, h2, h3, h4, p, a, span, input, label, ::placeholder {
    font-family: 'Yantramanav', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p, a {
    color: #0a3641;
}

h1, h2, .hamburger-menu a, .pp-header-price p, .basket-item-info h3, .customer-info h3 {
    margin: 0%;
}

h1 {
    font-size: calc(20px + 0.5vw);
}

.hamburger-menu h2 {
    color: #979592;
    text-transform: none;
}

h1, h2, h3, h4, nav a, .pp-header-price p { 
    text-transform: uppercase;
    font-weight: 400;
}

h3, h4, nav a {
    margin-bottom: 1%;
}

h2, .hamburger-menu a, .pp-header-price p, .price-info section:last-of-type p {
    font-size: calc(14px + 1.3vw);
}

.hamburger-menu h2 {
    margin-top: 5%;
}

h3  {
    font-size: calc(16px + 1.5vw);
}

footer h3 {
    font-size: calc(16px + 0.8vw);
}

h4 {
    font-size: calc(14px + 0.5vw);
    margin-top: 2%;
}


p, span, label, footer a, .search-bar input, .search::placeholder, .content.product-page a, .content.women-men-page a {
    font-size: calc(13px + 0.5vw);
}

input {
    font-size: calc(15px + 0.2vw);
}

a {
    text-decoration: none;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
}

button, .dark-button, [type="button"] {
    font-size: calc(10.5px + 1vw);
    text-transform: uppercase;
}

.banner-text p {
    font-size: calc(10.5px + 1.3vw)
}

.search-bar input::placeholder {
    color: #979592;
    font-style: italic;
    font-size: calc(11px + 1vw);
}

.basket-item-info h3 {
    font-size: calc(14px + 0.6vw);
    text-transform: unset;
}

.customer-info h3 {
    font-size: calc(15px + 0.6vw);
}

.customer-info h3, .price-info section:last-of-type p {
    font-weight: 500;
}


/*STYLING OF HEADER AND NAV*/

header, main, .nav-top, .nav-bottom, .nav-right, .search-bar, input, .banner a, .banner-img, footer {
    position: relative;
}

header, main, .nav-background, .nav-right, .search-bar, input, 
.banner a, .banner-img, .banner-text, 
.women-men, 
.products-displayed h2, .products-displayed article img, .product-info h4,
.promo-container,
footer {
    width: 100%;
}

.nav-background, .search-bar input, .footer-nav {
    background-color: #0a3641;
} 

header {
    height: 12vh;
    top: 0%;
}

.desktop-logo, .desktop-nav {
    display: none;
}

.mobile-nav, .nav-bottom, .nav-top {
    position: relative;
    height: 100%;
}

.nav-bottom, .nav-top {
    margin: 0% 3% 0% 3%;
}

.nav-top, .nav-bottom, .nav-right a {
    display: flex; 
    align-items: center;
}

.nav-background, .nav-right a {
    height: 50%;
}

.nav-left, .nav-right {
    display: flex;
    height: 80%;
}

.nav-right {
    align-items: end;
    justify-content: end;
}

.nav-right a, .hamburger {
    padding: 0 0 0.5% 4%;
}

.nav-bottom h1 {
    display: none;
}

.nav-bottom a {
    height: 70%;
    border-style: none;
}

.nav-left a img, .nav-right a img, .nav-bottom a img, .hamburger label img {
    height: 98%;
}

.hamburger input {
    position: absolute;
    left: -100vw;
}

.hamburger-menu {
    display: none;
}

#toggle:checked ~ .hamburger-menu {
    display: block;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.hamburger label {
    display: flex;
    height: 50%;
}

.hamburger-menu {
    position: absolute;
    right: -4.5%;
    top: 0%;
    z-index: 99;
    width: 120%;
    background-color: #0A3641;
}

.hamburger-menu h2 {
    text-align: center;
}

.hamburger-menu nav {
    display: flex;
    position: relative;
    padding: 10% 0 10% 0%;
    z-index: 100;
    background-color: #0A3641;
    height: 100%;
}

.hamburger-menu nav ul {
    display: block;
    z-index: 100;
    list-style-type: disc;
    width: 100%;
    padding: 0%;
}

.hamburger-menu nav li {
    display: block;
    z-index: 100;
    border-bottom: solid; 
}

.hamburger-menu nav li:last-child {
    border: none;
}

.hamburger-menu nav li, input {
    border-width: 1px;
    border-color: #DFD8D0; 
}

.hamburger-menu nav ul li a {
    padding: 4%;
    padding-left: 15%;
}

.search-bar {
    display: flex;
    height: 100%;
    align-items: center;
}

.search-bar input {
    display: flex;
    height: 60%;
    padding: 0% 2% 0% 8%;
    line-height: normal;
    background-image: url(../images/icon-search-light.png);
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: 1.5%, center;
    border-style: solid;
}


/*MAIN SECTION*/

button {
    padding: 1.3% 10% 1.3% 10%;
    background-color: rgba(255, 255, 255, 0%);
    border-style: solid;
    border-width: 1px;
    border-color: #0a3641;
    margin: 0% 0% 3% 0%;
}

/*BANNER*/

main, .banner a {
    justify-content: center;
}

.banner {
    display: flex;
    position: relative;
    height: 60vh;
}

.hidden {
    display: none;
}

.banner-img {
    height: 100%;
}

.banner a {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.banner-text {
    display: block;
    position: absolute;
    bottom: 0%;    
    background-color: rgba(255, 255, 255, 50%);
    text-align: center;
}

.banner-text h2 {
    color: #791c00;
    margin-top: 3%;
}

/*WOMEN-MEN*/

.content {
    display: block;
    position: relative;
    margin: 0% 6% 0% 6%;
}

.women-men {
    display: flex;
    position: relative;
    margin: 10% 0% 10% 0%;
    justify-content: center;
}

.women-men section a {
    display: flex;
    justify-content: center;
}

.women h2, .men h2, .products-displayed article h3, .promo-container h2, footer section h2, .follow h3 {
    display: none;
}

.women img, .men img {
    display: inline-flex;
    object-fit: contain;
    width: 75%;
    border-radius: 50%;
}

/*PRODUCTS*/

.products-displayed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    column-gap: 6%;
}

.products-displayed .article-container {
    display: block;
    flex: 1 1 40%;
    flex-grow: 1;
    margin: 3% 0% 3% 0%;
    height: 100%;
    background-color: #DFD8D0;
}

.products-displayed article img {
    object-fit: cover;
}

.product-info p {
    display: inline-flex; 
}

.product-info h4 {
    display: block;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 4% 0 4%;
}

/*MEMBERSHIP PROMO*/

.promo-container {
    display: flex;
    width: 100%;
    height: calc(150px + 30vw);
    margin: 13% 0;
    background-image: url('../images/membership-promo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.promo-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}

.promo-container section section {
    width: 100%;
    margin-top: 8%;
}

.promo-container section h3 {
    margin: 3vh 0vh 5vh 0vh;
    color: #7e3900;
}

.promo-container section p, .promo-container section h3 {
    display: flex;
    justify-content: center;
}

.promo-container button {
    margin: 5% 15% 5% 15%;
    background-color: rgba(255, 255, 255, 20%);

}

.promo-container button {
    width: 60%;
    padding: 1% 10% 1% 10%;
}

.promo-container button:hover {
    cursor: pointer;
}

.promo-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

/*FOOTER*/

footer {
    display: inline-flex;
    width: 100%;
    height: auto;
    margin: 5% 0 0 0;
}

footer h3, footer a, footer section p, input, nav a {
    color: #DFD8D0;
}

footer section ul li {
    list-style: none;
    padding: 1.5% 0 1.5% 0;
}

footer section ul {
    padding: 0%;
    margin-block-start: 0.5rem;
}

.footer-nav {
    display: block;
    position: relative;
    margin: 0;
    width: 100%;
}

.text, .follow {
    display: flex;
    position: relative;
    margin: 0 6% 0 6%;
}

.text section {
    width: 50%;
}

.about-us {
    padding-left: 6%;
}

.follow ul {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
}

.follow li {
    display: inline;

}

.follow a {
    display: flex;
    position: relative;
    justify-content: center;
}

.follow img {
    width: 50%;
}

.trademark {
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: center;
    bottom: 2%;
}

/*PAGE SPECIFIC*/

/*WOMEN, MEN*/

.blocky-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4% 0%;
    background-color: #DFD8D0;
}

.centered {
    text-align: center;
}

.content.women-men-page, .content.product-page {
    padding: 3% 0%;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: 8% 0% 8%;
}

.category-button {
    display: flex;
    position: relative;
    width: 25%;
    justify-content: center;
    border: solid 1px #0A3641;
    background-color: #DFD8D0;
    padding: 1.5% 0%;
}

/*PRODUCT PAGE*/

.productview-images, .basket-items {
    display: flex;
    width: 100%;  
    flex-direction: row;
}

.productview-images {
    justify-content: space-between;
    padding-top: 6%;
}

.main-img {
    width: 71.5%;
    height: fit-content;
}

.single-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25.5%;
}

.productcolor-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.productcolor-options section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productcolor-options a {
    width: 8vw;
    height: 8vw;
    margin: 1% 2% 2% 0%;
    border-radius: 50%;
}

.birch {
    background-color: #c2b1a9;
    border: solid 1px #4d4d4d;
    box-shadow: inset 0px 0px 0px 0.4vw #ffffff;
    padding: 0.4vw;
}

.granite {
    background-color: rgb(32, 36, 39);
}

select {
    width: 100%;
}

.pp-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 6% 0%;
}

.pp-header-price {
    display: flex;
    justify-content: space-between;
    margin: 0% 0% 3%;
}

.dark-button.add-basket {
    background-image: url(../images/icon-basket-light.png);
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position-y: 35%;
    background-position-x: 23%;
    margin: 5% 0 15%;
}

.dark-button, [type="button"] {
    display: flex;
    background-color: #0A3641 !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22%;
    margin: 3% 0 0;
    padding: 2% 0;
    color: #DFD8D0 !important;
}

[type="button"] {
    margin: 6% 0 0 !important;
}

/*BASKET PAGE*/

.checkout-header .nav-background.bottom, .checkout-header .nav-bottom, .checkout-header .nav-right {
    display: none;
}

.checkout-header {
    height: 6vh;
}

.checkout-header .nav-background {
    display: flex;
    height: 100%;
}

.checkout-header .nav-top {
    justify-content: left;
    width: 100%;
}

.checkout-header .nav-left {
    justify-content: center;
    width: 80%;
}

.back-arrow {
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
}

.back-arrow img {
    height: 50%;
}

.basket-items {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 6% 0%;
    margin: 12% 0%;
}

.basket-items img {
    width: 30%;
    padding: 0 2% 0 6%;
}

.basket-item-info {
    display: flex;
    flex-direction: column;
    padding: 0 6% 0 2%;
}

.price-info section {
    display: flex;
    justify-content: space-between;
}

.nomember-member {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 33vh;
    clear: both;
    margin: 6% 0;
}

.tab {
    float: left;
}

.tab [type="radio"] {
    opacity: 0;
}


.customer-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 0%;
}

.customer-info > * {
    opacity: 0;
    transform: translateX(-120%);
}

[type="radio"]:checked ~ label {
    border-bottom: 1px solid #a5a5a5;
    z-index: 2;
}

[type="radio"]:checked ~ label ~ .customer-info {
    z-index: 1;
}

[type="radio"]:checked ~ label ~ .customer-info > * {
    opacity: 1;
    transform: translateX(0);
}

.customer-info form {
    display: flex;
    width: 88%;
    padding: 6% 6%;
    margin-bottom: 6vh;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    background-color: #DFD8D0;
}

.customer-info input {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    color: #000000;
    margin: 0% 1%;
    width: unset;
}

.customer-info form p {
    padding-top: 3%;
}

.customer-info form p:last-of-type {
    padding: 10% 0 3%;
    color: #000000;
    font-weight: bold;
}

.customer-info a {
    margin: 5% 0;

}

.customer-info section {
    margin: 4% 0%;
}

[type="checkbox"] ~ label {
    margin: 0%;
}

/*CHECKOUT PAGE*/

.background {
    width: 100%;
    background-color: #DFD8D0;
    margin: 6% 0;
}

.background form {
    padding: 5%;
}

.background form h2 {
    margin-bottom: 3%;
}

.background form h2:last-of-type {
    margin-top: 6%;
}

.entered-address, .justanothercontainer {
    display: flex;
}

.entered-address img {
    width: calc(13px + 0.5vw);
    margin: 0 5vw;
}

.the-address {
    margin-bottom: 6%;
}

.width-control {
    width: 40%;
}

.another-width {
    width: 20%;
}

.justanothercontainer {
    justify-content: space-between;
}

.background form input {
    margin: 1% 0 3%;
}

.background form .price-info {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

.background form .price-info section:last-of-type {
    margin: 3% 0;
    padding: 3% 0;
    border-top: 1px solid #a5a5a5;
}

.background form a:last-of-type {
    margin-bottom: 3%;
}

/*DESK- and LAPTOP STYLE*/

@media screen and (min-width: 1000px) {
    
    /*FONTS*/

    .desktop-menu li {
        font-size: calc(14px + 0.2vw);
        font-weight: bold;
    }

    h2 {
        font-size: calc(24px + 0.5vw);
    }

    footer a {
        font-size: calc(12px + 0.5vw);
    }

    /*DESKTOP NAV*/
    
    .nav-top, .mobile-nav {
        display: none;
    }

    header {
        height: 14vh;
    }

    .desktop-logo, .desktop-nav {
        display: flex;
        position: relative;
        width: 100%;
    }

    .desktop-logo {
        height: 65%;
        background-color: #0A3641;
        justify-content: center;
    }

    .desktop-logo a {
        padding: 0.5%;
    }

    .desktop-logo a img {
        height: 98%    
    }

    .desktop-nav {
        height: 35%;
        width: 100%;
        background-color: #DFD8D0;
        align-items: center;
    }

    .desktop-search, .desktop-menu, .desktop-myarea {
        align-items: center;
    }

    .desktop-menu {
        display: inline;
        justify-content: center;
        width: 60%;
    }

    .desktop-menu nav ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0;
        padding-inline-start: 0px;
    }

    .desktop-menu nav ul li {
        display: inline;
    }

    .desktop-menu nav ul li a {
        height: 100%;
        text-decoration: underline transparent;
        color: #0A3641;
        transition: 1s;
    }

    .desktop-menu li a:hover {
        text-decoration-color: #0A3641;
    }

    .desktop-search {
        display: flex;
        padding-left: 5%;
        width: 20%;
        height: 100%;
    }

    .desktop-search input {
        display: flex;
        height: 60%;
        width: 40%;
        padding: 1% 2% 1% 12%;
        color: #0A3641;
        line-height: normal;
        background-color: #DFD8D0;
        background-image: url(../images/icon-search.png);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 5%, center;
        border-style: solid;
        border-color: #0A3641;
    }

    .desktop-search input:focus {
        width: 60%;
        background-size: 11%;
    }

    .desktop-search input::placeholder {
        line-height: normal;
        background-color: #DFD8D0;
        color: #81807e;
        font-style: italic;
        font-size: calc(15px + 0.2vw);
    }

    .desktop-myarea {
        display: flex;
        justify-content: end;
        height: 100%;
        width: 20%;
        padding-right: 5%;
    }

    .desktop-myarea a {
        display: flex;
        align-items: center;
        padding-left: 6%;
        height: 100%;
    }

    .desktop-myarea a img {
        height: 55%;
    }


    /*DESKTOP BANNER*/

    .banner, .banner a, .banner-img, .promo-container {
        height: unset;
        width: 100%;
    }

    .banner {
        height: unset;
        width: 100%;
    }

    .banner a img {
        height: unset;
        width: 100%;
    }

    button {
        padding: 0.5% 10%;
        background-color: rgba(255, 255, 255, 0%);
        border-style: solid;
        border-width: 1px;
        border-color: #0a3641;
        margin: 1% 0% 2%;
    }

    button:hover, .promo-container button:hover {
        background-color: rgba(255, 255, 255, 50%);
        transition: 1.5s;
    }

    .women-men a {
        width: calc(200px + 20vw);
    }

    .women-men, .products-displayed {
        margin: 5% 0 0 0;
    }

    .women:hover, .men:hover {
        transition: .5s ease-in-out;
        transform: scale(1.06);
    }

    .products-displayed .article-container {
        flex: 1 1 20%;
    }

    .products-displayed h2 {
        margin-block-start: 0%;
        margin-block-end: 0%;
    }

    .article-container {
        margin: unset;
        width: 20%;

    }

    article:hover {
        border: 1px solid #0A3641;
        background-color: #DFD8D0;
        transition: .5s ease-in-out;
        transform: scale(1.06);
    }

    .promo-container section {
        width: 80%;
    }
    .promo-container section section {
        width: 100%;
        margin-top: 25%;
    }

    .promo-container button {
        width: 70%;
        height: 80%;
        padding: 1% 10% 1% 10%;
    }

    .promo-container button:hover {
        cursor: pointer;
    }

    .promo-container a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }

    footer section ul {
        margin-block-start: 2%;
    }

    .text section {
        width: 20%;
    }

    .about-us {
        padding-left: 6%;
    }

    .follow ul {
        column-gap: 4%;
    }

    .follow li {
        padding: unset;
    }

    .follow a {
        width: calc(20px + 1.5vw);
    }

    .follow img {
        width: 100%;
    }

    .granite {
        background-color: rgba(32, 36, 39, 0.623);
    }
    
    .granite:hover {
        background-color: rgb(32, 36, 39);
    }

}